# Maven #
target/

# IDEA #
.idea/
*.iml

# Eclipse #
.settings/
.classpath
.project

# Database data directories #
confdata/
 
# Large binaries / external tools
1panel-v1.10.32-lts-linux-amd64/
1panel-v1.10.32-lts-linux-amd64.tar.gz

